<div class="border offset2 span10" >
<h2 style="text-align:center;">Edit Account Details</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
</br>
<div class="row"  style="margin-left:25px;">
<div class="span1">
  <p style="margin-top:5px;margin-bottom:5px;"><%= f.label :name %></p><br/>
  <p style="margin-top:5px;margin-bottom:5px;"><%= f.label :email %></p><br/>
  <p style="margin-top:5px;margin-bottom:5px;">Image</p>
</div>

<div class="span3">
  <%= f.text_field :name %></p>
  <%= f.email_field :email %>
  <%= f.file_field :avatar %>
</div>

<div class="span1">
  <p style="margin-top:5px;margin-bottom:5px;">Password</p><br/>
  <p style="margin-top:5px;margin-bottom:5px;">Confirmation</p><br/>
  <p style="margin-top:5px;margin-bottom:5px;">Confirm Password</p><br/>
</div>

<div class="span3">
  <%= f.password_field :password, :autocomplete => "off", :note => "leave blank if you don't want to change it" %>
  <%= f.password_field :password_confirmation %>
  <%=h f.text_field :current_password, :required => true %>
    <p>Enter your current password to confirm changes</p>
 </div>
</div>
        <%=h f.button :submit, 'Confirm', :class => 'btn-primary' %>
<% end %>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
</div>