<script>
  $(document).ready(function(){
  });
</script>

<%= simple_form_for(@project, :html => {:id => 'edit_project', :class => 'form-vertical', :multipart => true }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">    
    <%=h f.input :name %>
    <%=h f.input :city %>
    <%= f.input :country %>
    <%=h f.input :partner_organizations %>
    <%=h f.input :overview %>
    <%=h f.input :subject_tag %>
  </div>

  <div class="form-actions">
    <span class="pull-right">
      <%= link_to 'Cancel', projects_path(), class: 'btn' %>
      <%= f.button :submit %>
    </span>
  </div>
<% end %>

